@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Permanent+Marker|Staatliches|Berkshire+Swash|Abel');

.image
{
	width: 100%;
	height: 100vh;
	background-image: url(../images/wp3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -10000;
}

.title-cont
{
	position: relative;
	top: 45vh;	
}
.title
{
	font-weight: lighter;
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
}

.m_s
{
	width: 100%;
	min-height: 100vh;
	background-image: url(../images/wp2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -10000;
}

.title2
{
	font-weight: lighter;
	font-family: 'Permanent Marker',cursive;
	font-size: 3em;
}

.tarjeta
{
	position: relative;
	margin: auto;
	height: 350px;
	background-repeat: no-repeat;
	background-size: 135%;
	background-position: center center;
	overflow: hidden;
	-webkit-transition: background-size 0.4s;
}

.tarjeta:hover
{
	cursor: pointer;
	background-size: 150%;
}

.tarjeta:hover .overlay-tarjeta
{
	opacity: 0.9;
}

.overlay-tarjeta
{
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color:#000000;
	left: 250px;
	-webkit-transition:opacity 0.4s;
}

.info-tarjeta
{
	position: relative;
	top: 35%;
	width: 100%;
	height: 100%;
}

#t1
{
	background-image: url(../images/perfil4.jpg);
}

#t2
{
	background-image: url(../images/perfil2.jpg);
}

#t3
{
	background-image: url(../images/perfil3.jpg);
}

.p_s
{
	width: 100%;
	min-height: 100vh;
	background-image: url(../images/wp9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -10000;
}