<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginVecController</servlet-name>
    <servlet-class>aiss.controller.LoginVecController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVecController</servlet-name>
    <url-pattern>/loginVEC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveFileListController2</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveFileListController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveFileListController2</servlet-name>
    <url-pattern>/googleDriveFileList2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDocOpenDocController</servlet-name>
    <servlet-class>aiss.controller.GoogleDocOpenDocController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDocOpenDocController</servlet-name>
    <url-pattern>/googleDocList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveFileUpdateController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveFileUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveFileUpdateController</servlet-name>
    <url-pattern>/GoogleDriveUpdateFileContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveNewProyectController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveNewProyectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveNewProyectController</servlet-name>
    <url-pattern>/googleDriveProyectNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveDeleteProyectController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveDeleteProyectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveDeleteProyectController</servlet-name>
    <url-pattern>/googleDriveDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveInsertFileController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveInsertFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveInsertFileController</servlet-name>
    <url-pattern>/googleDriveInsertFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveUpdateFileController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveUpdateFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveUpdateFileController</servlet-name>
    <url-pattern>/googleDriveUpdateFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepoListController</servlet-name>
    <servlet-class>aiss.controller.RepoListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepoListController</servlet-name>
    <url-pattern>/repoLists</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FileListController</display-name>
    <servlet-name>FileListController</servlet-name>
    <servlet-class>aiss.controller.FileListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileListController</servlet-name>
    <url-pattern>/FileListController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>NewRepoController</display-name>
    <servlet-name>NewRepoController</servlet-name>
    <servlet-class>aiss.controller.NewRepoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRepoController</servlet-name>
    <url-pattern>/NewRepoController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DirectoryController</display-name>
    <servlet-name>DirectoryController</servlet-name>
    <servlet-class>aiss.controller.DirectoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectoryController</servlet-name>
    <url-pattern>/DirectoryController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RepoDeleteController</display-name>
    <servlet-name>RepoDeleteController</servlet-name>
    <servlet-class>aiss.controller.RepoDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepoDeleteController</servlet-name>
    <url-pattern>/RepoDeleteController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GoogleDriveAddPermissionController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveAddPermissionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveAddPermissionController</servlet-name>
    <url-pattern>/googleDriveAddPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GooglDriveDeletePermissionController</servlet-name>
    <servlet-class>aiss.controller.GooglDriveDeletePermissionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglDriveDeletePermissionController</servlet-name>
    <url-pattern>/googleDriveUpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleDriveAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDrive</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleDrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleDocAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDoc</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDocAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDrive</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/loginVEC</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleDrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleDocOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDoc</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/loginVEC</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDocOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>BitbucketAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Bitbucket</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BitbucketAuthController</servlet-name>
    <url-pattern>/AuthController/Bitbucket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>BitbucketOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Bitbucket</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/loginVEC</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BitbucketOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Bitbucket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarEventListController</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarEventListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarEventListController</servlet-name>
    <url-pattern>/googleCalendarEventList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarNewEventController</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarNewEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarNewEventController</servlet-name>
    <url-pattern>/googleCalendarNewEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarUpdateEventController</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarUpdateEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarUpdateEventController</servlet-name>
    <url-pattern>/googleCalendarUpdateEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarDeleteEventController</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarDeleteEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarDeleteEventController</servlet-name>
    <url-pattern>/googleCalendarDeleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarNewCalendarController</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarNewCalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarNewCalendarController</servlet-name>
    <url-pattern>/googleCalendarNewCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarUpdateCalendarController</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarUpdateCalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarUpdateCalendarController</servlet-name>
    <url-pattern>/googleCalendarUpdateCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarDeleteCalendarController</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarDeleteCalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarDeleteCalendarController</servlet-name>
    <url-pattern>/googleCalendarDeleteCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/loginVEC</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveNewChatController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveNewChatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveNewChatController</servlet-name>
    <url-pattern>/googleDriveNewChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveChatDisplayController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveChatDisplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveChatDisplayController</servlet-name>
    <url-pattern>/googleDriveChatDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveChatNewMessageController</servlet-name>
    <servlet-class>aiss.controller.GoogleDriveChatNewMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveChatNewMessageController</servlet-name>
    <url-pattern>/googleDriveChatNewMessage</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>aiss.api.VECApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  
</web-app>